<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% if existing_action?(field.resource.class, field.attribute) %>
    <%= link_to(
      field.options.fetch(:label_of_button, "Action"),
      [field.attribute, namespace, field.resource],
      method: field.options.fetch(:method, :post),
      class: "button",
        data: field.confirm? ? { confirm: t("administrate.actions.confirm") } : {}
    ) if accessible_action?(field.resource, field.attribute) %>
  <% end %>
</div>
