<% if existing_action?(collection_presenter.resource_name, field.attribute) %>
  <td><%= link_to(
    t("administrate.actions.#{field.attribute}"),
    [namespace, resource, field.attribute],
    method: :post,
    data: { confirm: t("administrate.actions.confirm") }
  ) if accessible_action?(resource, field.attribute) %></td>
<% end %>
